<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body>
    <h1>Hello my name is {{ name }}</h1>
    <article>
        <p>NPM : {{ npm }}
        <br>I am {{ age }} years old
        <br>Tempat kuliah : {{ univ }}
        <br>Hobi : {{ hobi }}
        <br>Deskripsi : {{ desc }} 
        {% load static %}
        <br><img src="{%static "media/profil.jpg" %}", width="150">        
    </article>
</body>
</html>
